.maps-container{width:100%;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;text-align:center;max-width:300px;margin:0 auto}.maps-container path{stroke:none}.country-map,.region-map{width:100%}.region-map{float:revert}.country-map{float:left}