ul.pagination{list-style:none;padding:0;text-align:center}li.page-item{display:inline-block;width:25px;font-weight:400;border-radius:5px;text-shadow:1px 1px 2px #bababa}li.page-item.active{background:#db0a5b;color:#fff;text-shadow:1px 1px 2px #7a7a7a}.nb-results{margin-bottom:5px;text-align:right}