h1,h2,h3,h4,h5,h6{position:relative;font-weight:500;text-shadow:1px 1px 2px #bababa;text-transform:uppercase}h1{margin-top:0}h3{margin-bottom:10px}h4{margin-top:10px;margin-bottom:5px}h4,h5{font-style:italic}h5{font-size:.9em}h6{font-size:.82em;font-style:italic}