/**
 * Style du compte client
 * 
 * @copyright (c) 2021, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

#client-menu {
    .step {
        padding: 5px 5px 5px 20px;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;

        &:before {
            content: "\f054";
            position: absolute;
            left: 0;
            top: 12px;
            color: $lightcolour;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 0.8em;
        }

        &:not(.current):hover {
            font-weight: 400;
        }

        &.current {
            color: $darkcolour;
            font-weight: 400;

            &:before {
                color: $darkcolour;
            }
        }
    }
}