/**
 * Eléments affichés en colonnes
 * 
 * @copyright (c), Joëlle Galloni
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

.columns-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    
    &.padding {
        padding: 10px;
    }
    
    .column {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        
        &.padding {
            padding-left: 10px;
            padding-top: 10px;
        }
        
        &.one-half {
            /* (2-1) * 20 / 2 = 10px */
            flex-basis: calc(100% / 2 - 10px);
            max-width: calc(100% / 2 - 10px);
        }
        &.one-third {
            /* (3-1) * 20 / 3 = 13.33px */
            flex-basis: calc(100% / 3 - 13.33px);
            max-width: calc(100% / 3 - 13.33px);
        }
        &.two-thirds {
            /* (3-1) * 20 / 3 = 13.33px */
            flex-basis: calc((100% / 3 - 13.33px) * 2 + 20px);
            max-width: calc((100% / 3 - 13.33px) * 2 + 20px);
        }
        &.one-fourth {
            /* (4-1) * 20 / 4 = 15px */
            flex-basis: calc(100% / 4 - 15px);
            max-width: calc(100% / 4 - 15px);
        }
        &.three-fourths {
            /* (4-1) * 20 / 4 = 15px */
            flex-basis: calc((100% / 4 - 15px) * 3 + 40px);
            max-width: calc((100% / 4 - 15px) * 3 + 40px);
        }
        &.one-fifth {
            /* (5-1) * 20 / 5 = 16px */
            flex-basis: calc(100% / 5 - 16px);
            max-width: calc(100% / 5 - 16px);
        }
        
        
        
        /* Pas de marge à droite sur la dernière colonne de la ligne */
/*        &.one-half:nth-of-type(2n),
        &.one-third:nth-of-type(3n),
        &.one-fourth:nth-of-type(4n),
        &.one-fifth:nth-of-type(5n),
        &.last {
            margin-right: 0px;

             Padding à droite sur la dernière colonne de la ligne si padding 
            &.padding {
                padding-right: 10px;
            }
        }*/
    }
}

/*

.column,
.small-column {
    float: left; 
    margin-bottom: 20px;
    min-width: min-content;
    margin-right: 20px;
    
    &.padding {
        padding-left: 10px;
        padding-top: 10px;
    }
    
    *
     * Largeur des colonnes
     * Pourcentage de la largeur - pixels pour les marges entre les colonnes
     * Pixels : (nbCol - 1) * margin / nbCol
     * -1 parce que la dernière colonne n'a pas de marge
     
    &.one-half {
         (2-1) * 20 / 2 = 10px 
        width: calc(100% / 2 - 10px);
    }
    &.one-third {
         (3-1) * 20 / 3 = 13.33px 
        width: calc(100% / 3 - 13.33px);
    }
    &.two-thirds {
         (3-1) * 20 / 3 = 13.33px 
        width: calc((100% / 3 - 13.33px) * 2 + 20px);
    }
    &.one-fourth {
         (4-1) * 20 / 4 = 15px 
        width: calc(100% / 4 - 15px);
    }
    &.three-fourths {
         (4-1) * 20 / 4 = 15px 
        width: calc((100% / 4 - 15px) * 3 + 40px);
    }
    &.one-fifth {
         (5-1) * 20 / 5 = 16px 
        width: calc(100% / 5 - 16px);
    }
     Pas de marge à droite sur la dernière colonne de la ligne 
    &.one-half:nth-of-type(2n),
    &.one-third:nth-of-type(3n),
    &.one-fourth:nth-of-type(4n),
    &.one-fifth:nth-of-type(5n),
    &.last {
        margin-right: 0px;
        
         Padding à droite sur la dernière colonne de la ligne si padding 
        &.padding {
            padding-right: 10px;
        }
    }
}*/