/**
 * Style des boîtes de dialogue
 * 
 * @copyright (c) 2016, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

.dialog {
    position: fixed;
    z-index: 10000;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.3s;
    background: rgba(0,0,0,0.6);
    
    &.visible {
        top: 0;
        
        .dialog-container {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            visibility: visible;
        }
    }
    
    .dialog-container {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%) scale(0.5);
        background: $grey0;
        padding-top: 30px;
        box-shadow: 0 10px 25px -10px $grey12;
        width: 500px;
        max-width: 100%;
        max-height: 95vh;
        border: 3px solid $grey4;
        
        h2 {
            margin-top: 0;
            text-align: center;
        }
        
        i.close-dialog {
            font-size: 1.5em;
            color: $colour;
            cursor: pointer;
            
            /*&:not(.block){*/
                position: absolute;
                right: 12px;
                top: 7px;
            /*}*/
            
/*            &.block {
                float: right;
                margin-bottom: 10px;
                margin-right: 5px;
            }*/
        }
        
        .dialog-content {
            overflow: auto;
            max-height: calc(95vh - 46px);
            padding: 0 10px 10px 10px;
        }
    }
    
    &#dialog-terms {
        font-size: 0.8em;
    }
}