/**
 * Style des filtres
 * 
 * @copyright (c), Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

#filters-container {
    position:relative;
    margin-top: -20px;
    margin-bottom: 10px;
    user-select: none;
    
    .title {
        font-weight: 400;
        font-size: 1.2em;
    }
    
    /**
     * Icônes pour ouvrir / fermer les filtres
     */
    #filters-icon {
        position: absolute;
        top: -50px;
        right: 0;
        cursor: pointer;
        width: 110px;
        height: 51px;
        padding: 10px;
        border: 1px solid $grey0;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        
        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 29px;
            background: $grey10;
            border-radius: 9px;
            opacity: 1;
            right: 3px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            
            /* Barres horizontales */
            &.top {
                top: 12px;
                
                &:after {
                    left: 15px;
                    -webkit-transition: visibility 0.5s 0s, opacity 0.5s 0s, left 0.3s;
                    -moz-transition: visibility 0.5s 0s, opacity 0.5s 0s, left 0.3s;
                    -o-transition: visibility 0.5s 0s, opacity 0.5s 0s, left 0.3s;
                    transition: visibility 0.5s 0s, opacity 0.5s 0s, left 0.3s;
                }
            }
            &.middle {
                top: 22px;
                
                &:after {
                    left: 5px;
                }
            }
            &.bottom {
                top: 32px;
                
                &:after {
                    left: 20px;
                }
            }
            
            /* Taquets horizontaux pour faire l'icône des filtres */
            &:after {
                content: " ";
                width: 4px;
                height: 8px;
                background: $grey10;
                border-radius: 9px;
                position: absolute;
                top: -2px;
                opacity: 1;
                visibility: visible;
                -webkit-transition: visibility 0.5s 0s, opacity 0.5s 0s, left 0.5s;
                -moz-transition: visibility 0.5s 0s, opacity 0.5s 0s, left 0.5s;
                -o-transition: visibility 0.5s 0s, opacity 0.5s 0s, left 0.5s;
                transition: visibility 0.5s 0s, opacity 0.5s 0s, left 0.5s;
            }
        }
        
        /* A l'ouverture, transformer les barres en croix */
        &.open {
            background: $grey05;
            border: 1px solid $grey2;
            border-bottom: 1px solid $grey05;
            
            span {
                background: $colour;
                
                &.top {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &.middle,
                &:after {
                    opacity: 0;
                    visibility: hidden;
                }
                &:after {
                    -webkit-transition: 0s;
                    -moz-transition: 0s;
                    -o-transition: 0s;
                    transition: 0s;
                }
                &.bottom {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    top: 32px;
                }
            }
        }
            
        &:hover {
            span {
                &:after {
                    background-color: $colour;
                }
                &.top:after {
                    left: 12px;
                }
                &.middle:after {
                    left: 16px;
                }
                &.bottom:after {
                    left: 7px;
                }
            }
        }
    }
}    

/**
 * Filtres
 */
#filters {
    overflow: hidden;
    padding: 0px;
    background: $grey05;
    border: 1px solid $grey0;
    max-height: 0px;
    max-width: 0px;
    margin-left: auto;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-property: all;
    
    
    &.visible {
        border: 1px solid $grey2;
        max-height: 5000px;
        max-width: 5000px;
        -webkit-transition: max-height 2s, max-width 1s, border 1s;
        transition: max-height 2s, max-width 1s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
    }
    .filter {
        h4 {
            margin: 5px 0px;
        }
        
        select,
        input[type=text] {
            width: 100%;
            margin-bottom: 10px;
        }
        
        /* Couleur */
        .colour {
            height: 20px;
            width: 20px;
            display: inline-block;
            border: 1px solid $grey10;
            cursor: pointer;
            margin-right: 5px;
            opacity: 0.5;
            
            &.selected,
            &:hover {
                opacity: 1;
            }
            &.selected {
                box-shadow: 0px 0px 3px $grey10;
            }
        }
            
        #price-container {
            #price-range {
                width: calc(100% - 22px);
                margin: 5px 10px 10px 10px;
            }
            #price-values {
                text-align: center;
                font-size: 0.8em;
            }
        }
    }
}


/**
 * Filtres appliqués
 */
#applied-filters {
    margin: 10px 0px;
    
    .applied-filter {
        display: inline-block;
        padding: 0px 3px;
        background: $grey1;
        border: 1px solid $grey2;
        border-radius: 5px;
        margin-bottom: 5px;
        
        i,
        svg {
            text-align: center;
            width: 20px;
            font-size: 0.8em;
        }
        i.fa-times {
            color: $colour;
            width: 15px;
            cursor: pointer;
            margin-left: 5px;
        }
    }
}