/**
 * Style des photos
 * 
 * @copyright (c) 2016, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

/**
 * Grid
 */
.pictures-grid {
    position: relative;
    
    .picture-container {
        position: absolute;
        cursor: zoom-in;
        overflow: hidden;
        transform: scale(0.3);
        transition: transform 1s ease-in, filter 2s;
        box-shadow: 0 10px 25px -10px $grey8;
        
        &:hover {
            transition-duration: 0.5s;
            box-shadow: 0 10px 25px -10px $grey12;
        }
    }
    .picture {
        background-size: cover;
        background-position: center; 
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        
        &:hover {
            transform: scale(1.05);
            transition-duration: 0.5s;
        }
    }
}
    

/**
 * Diaporama photo
 */
#picture-lightbox {
    visibility: hidden;
    opacity: 0;
    padding: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    text-align: center;
    
    &.visible {
        height: 100vh;
        width: 100vw;
        transition-duration: 0.5s;
        visibility: visible;
        opacity: 1;
        z-index: 5000;
    }
    
    .picture-container {
        margin: 0 auto;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: fit-content;
        max-height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s all ease-in;
        
        &.visible {
            transform: translate(-50%, -50%) !important;
            visibility: visible;
            opacity: 1;
            transition: 0.5s all ease-out;
        }
        &.hidden {
            transition: none;
        }
        &.left {
            transform: translate(-200%, -50%);
        }
        &.right {
            transform: translate(100%, -50%);
        }
        img {
            box-shadow: 0 0 6px 1px black;
            max-height: calc(100vh - 120px);
            max-width: calc(100vw - 150px);
            display: block;
            background: white;
            padding: 10px;
        }
    }
        

    /* Icônes */
    .close-lightbox,
    .previous-picture,
    .next-picture {
        position: absolute;
        line-height: 1em;
        color: #BABABA;
        cursor: pointer;
        
        &:hover {
            color: white;
        }
    }

    /* Bouton pour fermer */
    .close-lightbox {
        top: 10px;
        right: 10px;
        font-size: 2.5em;
        z-index: 5020;
    }
    .previous-picture,
    .next-picture,
    .previous-picture .icon,
    .next-picture .icon {
        top: 0;
        width: 60px;
        height: 100vh;
    }
    .previous-picture,
    .next-picture {
        background: white;
        font-size: 3em;
        z-index: 5010;
        
        .icon {
            position: absolute;
            background: rgba(0,0,0,0.8);
            
            &:before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 60px;
            }
        }
    }
    .previous-picture,
    .previous-picture .icon,
    .previous-picture .icon:before {
        left: 0;
    }
    .next-picture,
    .next-picture .icon,
    .next-picture .icon:before {
        right: 0;
    }
}