/**
 * Style des producteurs
 * 
 * @copyright (c) 2020, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

/* Aperçu d'un producteur */
.producer-overview {
    text-align: center;
    cursor: pointer;
    position: relative;
    background: white;
    box-shadow: 0 10px 25px -10px $grey4;
    min-width: 300px;
    max-width: 500px;
    
    /* Désignation */
    .title {
        padding: 10px;
        /*background: $grey0;*/
        margin-top: 250px;
        display: table;
        width: 100%;
        table-layout: fixed;
        border-top: 3px solid $colour;
        
        /* Pattern d'arrière-plan */
        @include background-pattern($grey0, $grey05);
        
        .name {
            font-weight: 500;
            font-size: 1.2em;
        }
        .name,
        .location {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    /* Photo */
    .picture-container {
        height: 250px;
        overflow: hidden;
        position: absolute;
        overflow: hidden;
        width: 100%;
        top: 0;
        left: 0;
        
        .picture {
            background-size: cover;
            background-position: center;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            transition: 0.3s;
        }
    }

    /**
     * Hover de l'aperçu d'un producteur
     */
    &:hover {
        transition-duration: 0.5s;
        box-shadow: 0 10px 25px -10px $grey12;
        
        .picture-container .picture {
            transform: scale(1.1);
            transition-duration: 0.5s;
        }
        .title .name {
            color: $colour;
        }
    }
}

/**
 * Détail d'un producteur
 */
.producer-detail {
    .producer-photos img {
        max-width: 100%;
        max-height: 250px;
    }
    .wines-container {
        text-align: center;
        
        .columns-container {
            margin-bottom: 20px;
        }
    }
}