/**
 * Affichage responsive
 * 
 * @copyright (c) 2019, Joëlle Galloni
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

/**
 * < 1280px (Galaxy tablets height)
 */
@media only screen and (max-width: 1279px) {
    /**
     * Colonnes
     */
    /* 5 deviennent 4 */
    .column.one-fifth {
        flex-basis: calc(100% / 4 - 15px);
        max-width: calc(100% / 4 - 15px);
    }
}

/**
 * < 1200px (Laptops width)
 */
@media only screen and (max-width: 1199px) {
    /*
     * Colonnes
     */
    /* 5 et 4 deviennent 3 */
    .column.one-fourth,
    .column.one-fifth {
        flex-basis: calc(100% / 3 - 13.33px);
        max-width: calc(100% / 3 - 13.33px);
    }
/*    .column.one-fourth:nth-of-type(3n),
    .column.one-fifth:nth-of-type(3n) {
        margin-right: 0px;
    }
    .column.one-fourth.padding:nth-of-type(3n),
    .column.one-fifth.padding:nth-of-type(3n) {
        padding-right: 10px;
    }*/
    /* 3/4 devient 2/3 */
    .column.three-fourths {
        flex-basis: calc((100% / 3 - 13.33px) * 2 + 20px);
        max-width: calc((100% / 3 - 13.33px) * 2 + 20px);
    }
}

/**
 * < 1024px (iPad height)
 */
@media only screen and (max-width: 1023px) {
    /**
     * En-tête bloqué
     */
    body {
        min-height: calc(100vh + 100px);
    }
    
    #main-header {
        position: fixed;
        height: 80px;
        padding-bottom: 0;
        padding-top: 0;
        border-bottom: 3px solid $verydarkcolour;
        background: $darkcolour;
        box-shadow: 0 2px 5px 0 $grey10;
        transition: none;
        
        #logo {
            transform: scale(0.6);
            left: 20px;
            position: absolute;
            top: -23px;
        }
        
        + #main-container {
            padding-top: 200px !important;
        }
    }
    
    #menu {
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        height: 0;
        background: transparent;
        z-index: -2000;
        transition: background 0.3s ease-in-out, z-index 0s ease 0.3s, height 0s ease 1s;
        -webkit-transition: background 0.3s ease-in-out, z-index 0s ease 0.3s, height 0s ease 1s;
        -o-transition: background 0.3s ease-in-out, z-index 0s ease 0.3s, height 0s ease 1s;
        margin: 0;
        padding: 0;
        
        &.active {
            height: 100vh;
            z-index: 2000;
            background: rgba(0,0,0,0.6);
            transition: background 0.3s ease-in-out;
            -webkit-transition: background 0.3s ease-in-out;
            -o-transition: background 0.3s ease-in-out;
            
            #icon-menu-close {
                visibility: visible;
                opacity: 1;
                position: absolute;
                top: 15px;
                right: 15px;
                z-index: 1;
                transition: 0.3s;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                color: $colour;
                
                i {
                    font-size: 1.5em;
                    cursor: pointer;
                    padding: 10px;
                    width: 50px;
                    text-align: center;
                }
            }
            
            ul {
                -webkit-transform: translateX(0%);
                -ms-transform: translateX(0%);
                transform: translateX(0%);
                height: 100%;
                overflow-y: auto;
            }
        }
        
        ul {
            position: fixed;
            right: 0;
            top: 0;
            width: 300px;
            margin: 0;
            min-height: 100vh;
            padding: 70px 30px;
            background: white;
            text-align: left;
            transform: translateX(110%);
            -webkit-transform: translateX(110%);
            -ms-transform: translateX(110%);
            transition: .3s all ease-in-out;
            -webkit-transition: .3s all ease-in-out;
            -o-transition: .3s all ease-in-out;

            li {
                display: block;
                border-left: none;
                padding: 10px 0;

                a {
                    
                    color: $grey10;

                    &:before {
                        left: 0px !important;
                        top: 45px;
                        transform: none;
                    }
                }

                &:hover a:before {
                    background: $colour;
                }
                
                .submenu {
                    position: relative;
                    left: 0;
                    width: auto;
                    box-shadow: none;
                    background: none;
                    border: none;
                }
            }
        }
    }
    
    #icon-menu {
        display: inline-block !important;
        
        &.close i:before {
            content: "\f00d";
        }
    }
    
    #user-menu {
        #nb-articles-cart {
            right: 55px;
        }
    }
/*    #menu .sub-menu {
        opacity: 1;
        visibility: visible;
        position: relative;
        box-shadow: none;
        padding-left: 10px;
        display: contents;
    }*/
    
    
    /**
     * Petites colonnes
     */
    /* 5 deviennent 4 */
/*    .small-column.one-fifth:nth-of-type(1n) {
        width: calc(100% / 4 - 15px);
        margin-right: 20px;
    }
    .small-column.one-fifth:nth-of-type(4n) {
        margin-right: 0px;
    }
    .small-column.one-fifth.padding:nth-of-type(4n) {
        padding-right: 10px;
    }*/
    
    
    /**
     * Slider de la page d'accueil
     */
    #slider {
        .content-container {
            margin-left: 50px;
        }
        
        .picture-container {
            width: 150px;
        }
        .text-container {
            left: 150px;
        }
        .diagonal {
            left: 130px;
        }
    }
}

/**
 * < 906px (Nexus tablets height)
 */
@media only screen and (max-width: 905px) {
    /**
     * Colonnes
     */
    /* 5, 4 et 3 deviennent 2 */
    .column.one-third,
    .column.one-fourth,
    .column.one-fifth,
    /* 3/4 et 2/3 deviennent 1/2 */
    .column.three-fourths,
    .column.two-thirds {
        flex-basis: calc(100% / 2 - 10px);
        max-width: calc(100% / 2 - 10px);
    }
/*    .column.one-third:nth-of-type(2n),
    .column.one-fourth:nth-of-type(2n),
    .column.one-fifth:nth-of-type(2n) {
        margin-right: 0px;
    }
    .column.one-third.padding:nth-of-type(2n),
    .column.one-fourth.padding:nth-of-type(2n),
    .column.one-fifth.padding:nth-of-type(2n) {
        padding-right: 10px;
    }*/
    /* 3/4 et 2/3 deviennent 1/2 */
/*    .column.three-fourths,
    .column.two-thirds {
        width: calc(100% / 2 - 10px);
    }*/
    
    /*
     * Petites colonnes
     */
    /* 5 et 4 deviennent 3 */
/*    .small-column.one-fourth:nth-of-type(1n),
    .small-column.one-fifth:nth-of-type(1n) {
        width: calc(100% / 3 - 6.67px);
        margin-right: 10px;
    }
    .small-column.one-fourth:nth-of-type(3n),
    .small-column.one-fifth:nth-of-type(3n) {
        margin-right: 0px;
    }
    .small-column.one-fourth.padding:nth-of-type(3n),
    .small-column.one-fifth.padding:nth-of-type(3n) {
        padding-right: 10px;
    }
     3/4 devient 2/3 
    .small-column.three-fourths {
        width: calc(100% / 3 * 2 - 6.67px);
    }*/
}

/**
 * < 800px (Galaxy tablets width)
 */
@media only screen and (max-width: 799px) {
    /* Diaporama photos */
    #picture-lightbox {
        padding: 0;
        
        .previous-picture,
        .next-picture,
        .previous-picture .icon,
        .next-picture .icon {
            background: transparent;
        }
        .picture-container img {
            max-width: 100vw;
            max-height: 100vh;
        }
        
        .close-lightbox,
        .previous-picture,
        .next-picture {
            .icon:before {
                background: rgba(0,0,0,0.6);
                border-radius: 4px;
            }
        }
        .previous-picture,
        .next-picture {
            .icon:before {
                width: 50px;
            }
        }
        .previous-picture .icon:before {
            left: 5px;
        }
        .next-picture .icon:before {
            right: 5px;
        }
    }
    
    
    /**
     * Petites colonnes
     */
    /* 5, 4 et 3 deviennent 2 */
/*    .small-column.one-third:nth-of-type(1n),
    .small-column.one-fourth:nth-of-type(1n),
    .small-column.one-fifth:nth-of-type(1n) {
        width: calc(100% / 2 - 5px);
        margin-right: 10px;
    }
    .small-column.one-third:nth-of-type(2n),
    .small-column.one-fourth:nth-of-type(2n),
    .small-column.one-fifth:nth-of-type(2n) {
        margin-right: 0px;
    }
    .small-column.one-third.padding:nth-of-type(2n),
    .small-column.one-fourth.padding:nth-of-type(2n),
    .small-column.one-fifth.padding:nth-of-type(2n) {
        padding-right: 10px;
    }
     3/4 et 2/3 deviennent 1/2 
    .small-column.three-fourths,
    .small-column.two-thirds {
        width: calc(100% / 2 - 5px);
    }*/
    
    
    /**
     * Slider de la page d'accueil
     */
    #slider {
        height: fit-content;
        
        .slide {
            opacity: 1 !important;
            position: relative;
            transition: none !important;
            left: 0;
            height: 400px;
            margin-bottom: 20px;
            overflow: hidden;

        }
        
        .background-container {
            height: 100%;
        }
        
        .picture-container {
            img {
                padding: 10px;
            }
        }
        
        .text-container {
            background: none;
            box-shadow: none;
            max-height: 100%;
            max-width: calc(100% - 100px);
            height: 100%;
            bottom: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        .navigate {
            display: none;
        }
    }
}

/**
 * < 650px
 */
@media only screen and (max-width: 649px) {
    /**
     * Colonnes
     */
    /* Une seule colonne */
    .column {
        max-width: 100% !important;
        flex-basis: 100% !important;
        margin-bottom: 10px;
        
/*        &.padding {
            padding-right: 10px;
        }*/
    }
    
    /**
     * Slider de la page d'accueil
     */
    #slider {
        .slide {
            height: 300px;
        }
        .picture-container,
        .diagonal {
            display: none;
        }
        .text-container {
            max-width: 100%;
            left: 0;
            padding: 20px 0;
        }
    }
}

/**
 * < 550px (iPhone height)
 */
@media only screen and (max-width: 549px) {
    #filters-container {
        margin-top: 45px;
    }
    
    #slider {
        .text-container {
            h1 {
                font-size: 2em;
            }
        }
    }
    
    /**
     * Petites colonnes
     */
    /* Une seule colonne */
/*    .small-column {
        width: 100% !important;
        margin-right: 0px !important;
        margin-bottom: 10px;
    }
    .small-column.padding {
        padding-right: 10px;
    }*/
}