/**
 * Style du slider de la page d'accueil
 *
 * @copyright (c), Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

/* Conteneur principal */
#slider {
    height: 500px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
    /* Slide (par défaut placée à gauche du slider) */
    .slide {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        z-index: 5;
        
        /* Slide affichée */
        &.active {
            left: 0;
            transition: 1s ease;
            opacity: 1;
            z-index: 10;
        }
        
        /* Slide précédente au moment où elle est remplacée */
        &.out {
            z-index: 0;
            left: 0;
            opacity: 0;
            transition: 1s;
        }
    }
    
    /**
     * Arrière-plan
     */
    .background-container {
        height: calc(100% - 40px);
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 0;
        
        .picture {
            background-size: cover;
            background-position: center; 
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            filter: blur(1.5px);
            box-shadow: inset 0 0 50px 0px black;
        }
    }
    
    
    /* Animation lors du survol */
    &:hover {
        .background-container .picture {
            transform: scale(1.05);
            transition-duration: 0.5s;
        }
    }

    /**
     * Texte et photo
     */
    .content-container {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: calc(100% - 100px);
        margin-left: 100px;
        z-index: 50;
    }
    /* Texte */
    .text-container {
        position: absolute;
        bottom: 70px;
        left: 200px;
        width: fit-content;
        max-height: calc(100% - 90px);
        max-width: calc(100% - 200px);
        padding: 20px 40px;
        color: white;
        background: linear-gradient(200deg,$darkcolour,$veryverydarkcolour 50%);
        box-shadow: 8px 0 8px -4px $grey12;
        display: flex;
        
        > div {
            overflow: hidden;
        }
        
        /* Titres */
        h1 {
            font-size: 3em;
            font-family: Alpaca;
            letter-spacing: 3px;
            margin-bottom: 10px;
        }
        h1,
        h2 {
            text-shadow: 2px 2px 4px $grey10;
        }
        h2 {
            margin-top: 10px;
        }
        
        /* Icônes */
        .wine-detail .detail {
            position: relative;
            padding-left: 30px;
            margin-bottom: 5px;

            .icon {
                color: white;
                width: 20px;
                text-align: center;
                position: absolute;
                left: 0;
                top: 4px;
            }
            ul {
                padding-left: 0;
                margin: 0;
                list-style: none;
            }
        }
    }
    
    /* Photo */
    .picture-container {
        position: relative;
        width: 200px;
        height: 100%;
        text-align: center;
        background: white;
        overflow: hidden;
        z-index: 100;
        box-shadow: 0px -8px 8px 0px $grey12;
        
        img {
            max-height: 100%;
            max-width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 20px 20px 10px 20px;
        }
    }

    /* Diagonale à droite de la photo */
    .diagonal {
        transform: skewX(-3deg);
        height: 100%;
        background: $colour;
        width: 34px;
        position: absolute;
        left: 180px;
        top: 0;
        box-shadow: 0px 0 4px 0px $grey12;
    }

    /**
     * Navigation entre les slides
     */
    .navigate {
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 0;
        text-align: center;
        z-index: 20;
    
        span {
            height: 15px;
            width: 15px;
            display: inline-block;
            border: 2px solid $grey8;
            border-radius: 50%;
            margin: 0 3px -15px 3px;
            transition: 1s;
            
            /* Slide active */
            &.active {
                border: 2px solid $colour;
            }
        }
    }
}