/**
 * Style des éléments de base
 *
 * @copyright (c) 2019, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */

/**
 * Variables globales
 */
$colour: #DB0A5B;
$middlecolour: #E5538C;
$lightcolour: #F09DBD;
$verylightcolour: #F7CEDE;
$darkcolour: #C50951;
$verydarkcolour: #99073F;
$veryverydarkcolour: #830636;

$grey0: #FAFAFA;
$grey05: #F2F2F2;
$grey1: #EAEAEA;
$grey2: #DADADA;
$grey3: #CACACA;
$grey4: #BABABA;
/*$grey5: #AAAAAA;*/
/*$grey6: #9A9A9A;*/
/*$grey7: #8A8A8A;*/
$grey8: #7A7A7A;
/*$grey9: #6A6A6A;*/
$grey10: #5A5A5A;
$grey11: #4A4A4A;
$grey12: #3A3A3A;
/*$grey13: #2A2A2A;*/
/*$grey14: #1A1A1A;*/

$green: #1E824C;
$lightgreen: #DEFADC;
$orange: #F15A22;
$lightorange: #FDEECA;
$blue: #2574a9;
$lightblue: #c5eff7;
$red: #d91e18;
$lightred: #fcd8d8;
$yellow: #ffcb05;

/*    
#D5E3F2
#C5D3E2
#BCCAD9
#ACBAC9
#9CAAB9
#8C9AA9
#7C8A99
#6C7A89
#5C6A79
#4C5A69
#3C4A59
#2C3A49
#1C2A39

$green: #26A65B;
$red: #D91E18;
$yellow: #F7CA18;
*/

/* Pattern d'arrière-plan */
@mixin background-pattern($colour-background, $colour-lines) {
    background-color: $colour-background;
    background-size: 48px 48px;
    background-image: radial-gradient(
        transparent 20px,
        $colour-lines 20px,
        $colour-lines 24px,
        transparent 24px
    ),
    radial-gradient(
        transparent 20px,
        $colour-lines 20px,
        $colour-lines 24px,
        transparent 24px
    );
    background-position: 0 0 , 24px 24px;
}