/**
 * Style du panier
 * 
 * @copyright (c) 2020, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

.cart-container {
    .quantity-container {
        display: inline-block;
    }
    .quantity {
        width: 50px;
    }
        
    .already-in-cart {
        display: none;
        color: $darkcolour;
        font-size: 0.8em;
        font-style: italic;
        margin-top: 5px;
        line-height: 2em;
        
        .quantity-cart {
            transition: 0.3s;
            line-height: 1.2em;
            
            &.add {
                color: $verydarkcolour;
                font-weight: 600;
                animation: bounce2 1s;
            }
        }
    }
    
    .info {
        color: $orange;
        font-weight: 400;
        
        &:before {
            content: "\f05a";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            padding-right: 5px;
        }
    }
    
    .inform-availability {
        width: fit-content;
        margin: 0 auto;
        padding: 15px;
        border: 1px solid $orange;
        background: $lightorange;
        box-shadow: 0 10px 25px -10px $grey4;
        
        p {
            margin: 10px 0;
        }
        
        .email-container {
            display: inline-block;
            
            input {
                display: block;
            }
        }
        .alert {
            text-align: left;
        }
    }
}

/* Popup pour ajouter au panier */
.add-to-cart-container {
    text-align: center;
}

#cart {
    .info {
        font-size: 0.8em;
        font-style: italic;
        background: $orange;
        color: white;
        display: block;
        padding: 3px 8px;
        border-radius: 5px;
        width: fit-content;
    }
    
    #cart-table {
        .quantity {
            margin: 2px 0;
            width: 50px;
        }
    }
}

/* Flux du panier */
#cart-flow {
    white-space: nowrap;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    
    .step {
        display: inline-block;
        position: relative;
        width: calc(100% / 5);
        text-align: center;
        font-size: 0.9em;
        color: $grey4;
        
        &:first-of-type {
            &:before {
                height: 0;
            }
        }
        
        &.previous {
            color: inherit;
            
            span {
                cursor: pointer;
                
                &:after {
                    content: "\f00c";
                    font-size: 0.8em;
                    color: $verylightcolour;
                }
            }
        }
        
        &.current {
            color: $darkcolour;
            font-weight: 400;
            
            span {
                /*position: relative;*/
            
                &:after {
                    content: "\f106";
/*                    position: absolute;
                    left: 0;
                    top: 22px;
                    width: 100%;
                    color: $lightcolour;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;*/
                }
            }
        }
        
        &:before {
            content: "";
            position: absolute;
            left: -50%;
            top: 10px;
            z-index: -1;
            width: 100%;
            height: 1px;
            background: $colour;
        }
        
        span {
            padding: 5px 10px;
            background: $grey0;
            cursor: default;
            
            position: relative;
            
            &:after {
                position: absolute;
                left: 0;
                top: 25px;
                width: 100%;
                color: $lightcolour;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
            }
        }
    }
}

/* Moyens de paiement */
.payment-card {
    position: relative;
    width: 70px;
    height: 45px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    border: 1px solid $grey2;
    
    img {
        max-height: calc(100% - 6px);
        max-width: calc(100% - 6px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.form .info {
    padding: 5px 25px;
    font-size: 0.9em;
    font-style: italic;
    display: none;
}

/* Bons cadeaux */
.gift-card-error {
    display: none;
}

.gift-card {
    width: fit-content;
    padding: 0px 3px;
    background: $grey1;
    border: 1px solid $grey2;
    border-radius: 5px;
    margin-bottom: 5px;
    
    &.applied {
        background: $lightgreen;
        border-color: $green;
        
        i.fa-gift {
            color: $green;
        }
    }
    
    &:not(.applied){
        i.fa-times {
            transform: rotate(45deg);
        }
    }

    i {
        text-align: center;
        width: 25px;
        font-size: 0.8em;
        vertical-align: middle;
    }
    i.fa-times {
        color: $colour;
        width: 15px;
        cursor: pointer;
        /*margin-left: 5px;*/
    }
}

#gift-cards,
#gift-cards-client {
    &.empty:before {
        content: "—";
    }
}

/**
 * Récapitulatif du paiement
 */
#cart-table {
    td {
        padding-top: 0;
    }
    
    .balance-container {
        padding-left: 13px;
        padding-bottom: 3px;
        font-size: 0.8em;
        font-style: italic;
        color: $colour;
    }
}

/* Paiement */
#dialog-payment {
    .field {
        height: 35px;
    }
}

/* CGV */
#terms-container {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid transparent;
    
    &.error {
        background: $lightred;
        border: 1px solid $red;
        transition: 0.3s;
    }
}

/* Cadeau */
#gift-message-container {
    margin-top: 10px;
    margin-left: 25px;
    display: none;
}

@keyframes bounce2 {
    0% {
        font-size: 1.1em;
    }
    50% {
        font-size: 1.3em;
    }
    60% {
        font-size: 0.6em;
    }
    80% {
        font-size: 0.95em;
    }
    100% {
        font-size: 1em;
    }
}