/**
 * Style des formulaires
 * 
 * @copyright (c) 2016, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

form,
.form {
    .row {
        padding-bottom: 5px;
    }
    button[type="submit"] {
        margin-top: 10px;
    }
    span.error {
        color: red;
        font-weight: bold;
        padding-left: 5px;
    }
    input.error,
    textarea.error {
        border-color: red;
        box-shadow: 0px 0px 3px red;
    }
    textarea {
        width: 250px;
        height: 100px;
    }
    
    p {
        label {
            width: 200px;
            display: inline-block;
        }
    }
}

.form {
    span.error {
        display: none;
    }
}