/**
 * Style des cartes cadeaux
 * 
 * @copyright (c) 2021, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

.gift-card-overview {
    background: white;
    box-shadow: 0 10px 25px -10px #bababa;
    text-align: center;
    position: relative;
    cursor: default;
    
    &:not(.used):before {
        content: "\f06b";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        color: $grey05;
        font-size: 4.8em;
        bottom: 0px;
        text-align: center;
        width: 100%;
        left: 0;
        height: calc(100% - 40px);
    }
    
    &.used {
        div {
            &.title {
                background: $grey4;
                border-bottom: 3px solid $lightcolour;
                text-shadow: none;
            }
            &.used {
                text-decoration: line-through;
                background: $grey1;
                color: $grey4;
                padding: 10px 0px;
            }
        }
    }
    
    div {
        position: relative;
        
        &.title {
            border-bottom: 3px solid $colour;
            color: white;
            padding: 5px;
            text-shadow: 1px 1px 2px $grey12;
            
            /* Pattern d'arrière-plan */
            @include background-pattern($grey10, $grey11);
        }
        &.amount,
        &.used {
            font-size: 1.5em;
        }
        &.amount {
            padding: 15px 0px 5px 0px;
        }
        &.initial,
        &.already-in-cart {
            color: $grey8;
            font-style: italic;
            font-size: 0.8em;
        }
        &.pin {
            font-size: 0.8em;
            text-align: right;
            padding: 5px 10px;
        }
        /* Chariot */
        &.cart {
            text-align: right;
            padding-right: 15px;
            padding-bottom: 10px;
            
            i {
                cursor: pointer;
                transition: 0.2s;
                color: $colour;
                
                &:hover {
                    transition: 0.2s;
                    color: $darkcolour;
                    font-size: 1.2em;
                }
            }
        }
        /* Nombre dans le panier */
        &.already-in-cart {
            display: none;
            position: absolute;
            bottom: 13px;
            padding-left: 15px;
            padding-right: 40px;
            width: 100%;
            text-align: left;
            
            .quantity-cart {
                transition: 0.3s;
                line-height: 1.2em;

                &.add {
                    color: $verydarkcolour;
                    font-weight: 600;
                    animation: bounce2 1s;
                }
            }
        }
    }
    
    /* Hover */
    &:hover {
        .title {
            /* Pattern d'arrière-plan */
            @include background-pattern($grey11, $grey12);
            
            border-bottom-color: $darkcolour;
        }
    }
}