/**
 * Style des éléments de base
 *
 * @copyright (c) 2019, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

a {
    text-decoration: none;
    color: $colour;
    
    &:hover {
        color: $darkcolour;
    }
}

button a {
    color: inherit;
}

fieldset {
    padding: 0;
    border: none;
}

hr {
    border: none;
    border-top: 1px solid $colour;
}

::selection {
    background: $verylightcolour;
}

* {
    box-sizing: border-box;
}

.bold,
strong {
    font-weight: 400;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
.no-margin-top {
    margin-top: 0;
}
.hidden {
    display: none;
}
.green {
    color: $green;
}
.orange {
    color: $orange;
}
.red {
    color: $red;
}
.colour {
    color: $colour;
}
.pointer {
    cursor: pointer;
}
.full-width {
    width: 100%;
}
figure {
    margin: 0;
}