/**
 * Style des inputs, select, textarea
 *
 * @copyright (c) 2019, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

select,
input,
textarea,
button,
a.button {
    font-family: "Poppins";
    font-size: 1em;
    user-select: none;
}
select,
input,
textarea {
    border: 1px solid $grey8;
    padding-top: 1px;
    padding-bottom: 1px;
    color: $grey10;
}
input {
    padding-left: 3px;
    padding-right: 3px;
    /* Laisser sinon bug avec iPhone */
    -webkit-user-select:text;
}
textarea:focus,
input:focus,
select:focus,
select:active,
select:hover,
button:focus {
    outline: none;
}
select:-internal-list-box option:checked {
    background-color: red !important;
}
select option[value="0"] {
    font-weight: bold;
    color: $colour;
}
textarea {
    max-width: 100%;
}
/* Boutons */
button,
a.button,
input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer;
    border: 1px solid $darkcolour;
    background: $colour;
    color: white;
    border-radius: 5px;
    padding: 3px 10px;
    box-shadow: 1px 1px 2px $grey4;
    transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -webkit-transition: background 0.2s;
    
    /* Survol des boutons */
    &:hover {
        background: $darkcolour;
        transition: background 0.2s;
        -moz-transition: background 0.2s;
        -o-transition: background 0.2s;
        -ms-transition: background 0.2s;
        -webkit-transition: background 0.2s;
    }
    
    /* Boutons secondaires */
    &.icon,
    &.grey {
        color: inherit;
        border: 1px solid $grey4;
        background: $grey2;

        /* Survol des boutons secondaires */
        &:hover {
            background: $grey3;
        }
        
        
        &:disabled {
            color: $grey4;
            background: $grey1;
            cursor: default;
        }
    }
}

a button {
    color: white;
    
    &.grey {
        color: $grey10;
    }
}
    
/* Boutons avec icônes (soit génériques avec :before, soit autres icônes avec i)*/
button.icon,
a.button.icon {
    position: relative;
    padding-left: 30px;
    overflow: hidden;
    vertical-align: bottom;
    
    i,
    &:after {
        color: $grey10;
        position: absolute; 
        left: 8px; 
        top: 8px; 
        width: 23px;
        text-align: center;
        margin-left: -6px;
        display: inherit;
        margin-right: 3px;
    }
    
    &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
    
    &:hover {
        border-left-width: 1px;
        
        &:before {
            left: 0;
            transition: 0.3s;
            -moz-transition: 0.3s;
            -o-transition: 0.3s;
            -ms-transition: 0.3s;
            -webkit-transition: 0.3s;
        }
        
        i,
        &:after {
            color: white;
        }
    }
    
    &:before {
        content: "";
        background: $colour;
        width: 26px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -26px;
    }
}

.buttons-container-flow {
    margin-top: 15px;
    text-align: right;

    input[type=button],
    button,
    a {
        margin-left: 5px;
        margin-top: 5px;
    }
}
    

button.back:after,
a.button.back:after {
    content: "\f060";
}
button.cart-plus:after,
a.button.cart-plus:after {
    content: "\f217";
}

/* Bouton animé (ajout dans le panier) */
span.animated-button {
    background: none;
    color: $grey10;
    font-weight: 300;
    border-radius: 0;
    box-shadow: none;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    padding: 3px 10px;
    margin-left: 5px;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;

    i {
        margin-right: 5px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: $darkcolour;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    &:hover {
        color: white;
        background: none;
        
        &:after {
            width: 100%;
        }
    }
}