/**
 * Style des éléments de structure principaux définis dans le layout
 *
 * @copyright (c), Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: $grey10;
    background: $grey0;
    width: calc(100vw - (100vw - 100%));
    min-height: 100vh;
    margin: 0;
    position: relative;
}

/**
 * En-tête
 */
#main-header {
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 10px 20px 100px 20px;
    user-select: none;
    left: 0;
    background: linear-gradient(180deg,$colour,$verydarkcolour);
    
    /* En-tête bloqué */
    &.fixed {
        position: fixed;
        height: 80px;
        padding-bottom: 0;
        padding-top: 0;
        border-bottom: 3px solid $verydarkcolour;
        background: $darkcolour;
        box-shadow: 0 2px 5px 0 $grey10;
        transition: none;
        
        /* En-tête bloqué */
        #logo {
            transform: scale(0.6);
            left: 20px;
            position: absolute;
            top: -23px;
        }
        
        + #main-container {
            padding-top: 300px;
        }
    }
    
    /* Logo */
    #logo {
        font-family: "Alpaca";
        font-size: 61px;
        position: relative;
        height: 125px;

        img {
            width: 200px;
            position: absolute;
            top: 23px;
        }

        span {
            cursor: pointer;

            &:before {
                position: absolute;
                color: $veryverydarkcolour;
            }
            /* o */
            &.o:before {
                content: "o";
            }
            /* b */
            &.b:before {
                content: "q";
                transform: rotate(180deg);
                left: 30px;
                top: 5px;
            }
            /* première ligne */
            &.o:nth-of-type(1):before,
            &.o:nth-of-type(2):before {
                top: 0;
            }
            /* premier o */
            &.o:nth-of-type(1):before {
                left: -2px;
            }
            /* deuxième o */
            &.o:nth-of-type(2):before {
                left: 61px;
            }
            /* deuxième ligne */
            &.o:nth-of-type(3):before,
            &.o:nth-of-type(4):before {
                top: 29px;
            }
            /* troisième o */
            &.o:nth-of-type(3):before {
                left: 14px;
            }
            /* quatrième o */
            &.o:nth-of-type(4):before {
                left: 45px;
            }
            /* cinquième o */
            &.o:nth-of-type(5):before {
                top: 58px;
                left: 29px;
            }
        }
    }
    
    /* Flèche pour revenir au sommet */
    #return-to-top {
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
        position: fixed;
        bottom: 25px;
        left: 25px;
        font-family: icomoon;
        font-size: 25px;
        line-height: 25px;
        font-weight: 400;
        cursor: pointer;
        padding: 5px;
        width: 40px;
        height: 40px;
        background: $grey2;
        border-radius: 50%;
        text-align: center;
        z-index: 1000;
        
        &:hover {
            color: $grey1;
            background-color: $colour;
        }
        
        &:before {
            content: "\f077";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
        }
        
        &.visible {
            visibility: visible;
            opacity: 1;
            transition: 0.3s;
        }
    }
}
    

/**
 * Conteneur principal
 */
#main-container {
    position: relative;
    max-width: 1200px;
    margin: -100px auto 0 auto;
    background: $grey0;
    padding: 20px;
    padding-bottom: 105px;
    box-shadow: 0px -12px 10px -12px;
}


/**
 * Pied de page
 */
#main-footer {
    text-align: center;
    color: $grey1;
    background: $grey12;
    border-top: 3px solid $colour;
    height: 85px;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    
    #footer-content {
        /*max-width: 1200px;*/
        width: 100%;
        height: 100%;
        
        /*div.column {*/
            /*margin: 0;*/
            /*text-align: left;*/
            padding: 20px;
            
/*            &:first-of-type {
                padding: 15px 20px;
            }*/
            
/*            a {
                color: $grey1;
                display: block;
                text-align: right;
                
                &:hover {
                    color: $colour;
                }
            }*/
            
            img {
                height: 40px;
                vertical-align: middle;
                padding-right: 5px;
            }
        /*}*/
    }
}