/**
 * Style des cartes
 * 
 * @copyright (c) 2020, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

.maps-container {
    width: 100%;
    height: fit-content;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    
    path {
        stroke: none;
    }
}
.region-map,
.country-map {
    width: 100%;
}
.region-map {
    float: revert;
}
.country-map {
    float: left;
}