/**
 * Style du menu
 *
 * @copyright (c), Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

#menu {
    text-align: center;
    padding: 5px 100px 8px 100px;
    margin-top: -45px;
    text-transform: uppercase;
    
    ul {
        padding: 0;
        font-size: 0;
        height: 35px;
        margin: 16px 0;
        
        li {
            list-style-type: none;
            display: inline-block;
            border-left: 1px solid $colour;
            padding: 0 15px 6px 15px;
            cursor: pointer;
            position: relative;
            font-size: initial;
            
            &:first-of-type {
                border-left: none;
            }
            
            
/*            &:last-of-type {
                border-right: none;
                padding-right: 0;
                
                a {
                    &:before {
                        left: calc(50% + 7.5px);
                    }
                }
            }*/
            > a {
                color: $grey05;
                font-size: 1.5em;
                
                &:before {
                    content: " ";
                    position: absolute;
                    transition: 0.3s;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: 0px;
                    width: 0;
                    height: 0;
                    background: transparent;
                }
            }
            
            &:hover {
                > a:before {
                    width: 35px;
                    height: 2px;
                    background: $grey05;
                }
                
                .submenu {
                    width: 235px;
                    left: 0;
                    transition: 0.3s;
                }
            }
            
            .submenu {
                position: absolute;
                background: $grey0;
                z-index: 1000;
                left: 50%;
                margin-top: 2px;
                width: 0px;
                text-align: left;
                font-size: 1.2em;
                overflow: hidden;
                box-shadow: 0 10px 15px -5px $grey8;
                border-top: 2px solid $grey10;
                transition: 0.3s;

                a {
                    padding: 5px 10px 5px 15px;
                    display: block;
                    color: inherit;
                    width: 235px;
                    white-space: nowrap;
                    
                    &:hover {
                        font-weight: 400;
                        color: $colour;
                    }
                }
            }
        }
    }
}
/* Menu quand scroll */
#main-header.fixed #menu {
    margin-top: 0;
}

/* Menu responsive */
#icon-menu {
    display: none !important;
}
#icon-menu-close {
    visibility: hidden;
    opacity: 0;
    right: 0;
    height: 0;
}

/**
 * Conteneur en haut à droite
 */
/* Login / logout */
#user-menu {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 2000;
    
    .user-menu-item {
        display: inline-block;
        
        h3 {
            margin-top: 0;
            margin-bottom: 5px;
            border-bottom: 1px solid $colour;
        }
        
        i.main-icon {
            color: $grey05;
            font-size: 1.5em;
            cursor: pointer;
            padding: 10px;
            width: 50px;
            text-align: center;
        }
        
        .user-menu-info {
            position: fixed;
            right: 0px;
            background: $grey0;
            visibility: hidden;
            opacity: 0;
            height: 0;
            z-index: -1;
            transition: all 0.3s ease-in-out, visibility 0s linear, z-index 0s linear;
            padding: 0;
            box-shadow: 0 10px 25px -10px $grey4;
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            
            li {
                padding: 5px 0;
                
                &:not(:last-of-type) {
                    border-bottom: 1px solid $grey4;
                }
            }
        }
        
        &:hover {
            i.main-icon {
                background: radial-gradient(circle, $verydarkcolour 0%, transparent 70%);
                transition: 0.2s;
            }
            
            .user-menu-info {
                visibility: visible;
                opacity: 1;
                z-index: 1;
                padding: 10px 20px;
                height: auto;
            }
        }
    }
        
        
    /* Nombre d'articles dans le panier */
    #nb-articles-cart {
        font-size: 0.7em;
        background: $veryverydarkcolour;
        border-radius: 50%;
        padding: 0px 5px;
        text-align: center;
        display: none;
        color: white;
        position: absolute;
        right: 0;
        min-width: 17px;
        
        &.add {
            animation: bounce 1s;
        }
    }
    
    /* Aperçu du panier */
    #cart-overview {
        font-size: 0.8em;
        width: 300px;
    }
        
    .buttons-container {
        width: calc(100% + 40px);
        margin: 10px -20px -10px -20px;
        display: flex;
        
        input[type=button] {
            width: 50%;
            border-radius: 0;
            box-shadow: none;
            padding: 10px;
            border: none !important;
            border-top: 1px solid $darkcolour !important;
            
            &.grey {
                border-top: 1px solid $grey4 !important;
            }
        }
    }
}

@keyframes bounce {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.6);
    }
    60% {
        transform: scale(0.6);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}