/**
 * Style des éléments divers
 *
 * @copyright (c) 2020, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

/**
 * Page d'accueil
 */
.home-info-container {
    margin-top: 40px;
}
.home-info {
    min-width: 180px;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    
    .icon {
        font-size: 40px;
        background: $colour;
        color: white;
        width: 80px;
        height: 80px;
        padding-top: 20px;
        border-radius: 100%;
        animation-name: icon-pop;
        animation-duration: 1s;
    }
    p {
        margin-bottom: 0;
    }
}

.alert {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px 5px 30px;
    position: relative;
    
    &:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        width: 20px;
        position: absolute;
        left: 5px;
        text-align: center;
        top: 9px;
    }
    
    &.success {
        background-color: $lightgreen;
        border-color: $green;
        color: $green;
        
        &:before {
            content: "\f00c";
        }
    }
    
    &.warning {
        background-color: $lightorange;
        border-color: $orange;
        color: $orange;
        
        &:before {
            content: "\f06a";
        }
    }
    
    &.error {
        background-color: $lightred;
        border-color: $red;
        color: $red;
        
        &:before {
            content: "\f071";
        }
    }
    
    &.info {
        background-color: $lightblue;
        border-color: $blue;
        color: $blue;
        
        &:before {
            content: "\f05a";
        }
    }
    
    &.pop {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        padding: 0;
        
        transition: visibility 0.3s, opacity 0.3s, max-height 0s 0.3s, padding 0s 0.3s;
        -webkit-transition: visibility 0.3s, opacity 0.3s, max-height 0s 0.3s, padding 0s 0.3s;
        -o-transition: visibility 0.3s, opacity 0.3s, max-height 0s 0.3s, padding 0s 0.3s;

        &.visible {
            visibility: visible;
            opacity: 1;
            max-height: 1000px;
            padding: 5px 10px 5px 30px;
            
            transition: visibility 0.3s, opacity 0.3s;
            -webkit-transition: visibility 0.3s, opacity 0.3s;
            -o-transition: visibility 0.3s, opacity 0.3s;
        }
    }
}

i.action {
    cursor: pointer;
}

/**
 * Statut du paiement
 */
.payment-status {
    font-size: 1.5em;
    
    i {
        font-size: 2em;
        margin-top: 10px;
    }
}

/**
 * Tawk.to
 */
.tawk-min-container .tawk-button-circle.tawk-button-large {
    width: 50px !important;
    height: 50px !important;
    right: 0 !important;
}

@keyframes icon-pop {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    80% {
        opacity: 1;
        transform: scale(1.2);
    }
    to {
        
        transform: scale(1);
    }
}