/**
 * Style de la pagination
 * 
 * @copyright (c) 2020, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

ul.pagination {
    list-style: none;
    padding: 0;
    text-align: center;
}
li.page-item {
    display: inline-block;
    width: 25px;
    font-weight: 400;
    border-radius: 5px;
    text-shadow: 1px 1px 2px $grey4;
    
    &.active {
        background: $colour;
        color: white;
        text-shadow: 1px 1px 2px $grey8;
    }
}
.nb-results {
    margin-bottom: 5px;
    text-align: right;
}