/**
 * Style des tableaux
 * 
 * @copyright (c) 2016, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

/**
 * Table
 */
table {
    border-spacing: 0;
    border-collapse: collapse;
    
    &.table-full-width {
        width: 100%;
    }
    
    td,
    th {
        padding: 3px;
    }
    
    td {
        vertical-align: top;
    }
    
    /**
     * En-tête et footer
     */
    th {
        text-align: left;
        font-weight: 400;
        padding: 5px 3px;
    }
    
    thead {
        border-bottom: 1px solid $grey4;
    }
    
    tfoot {
        border-top: 1px solid $grey4;
    }
    
    tr.total {
        th {
            font-weight: 900;
            color: $colour;
            font-size: 1.2em;
        }
    }
}