/**
 * Style des titres
 * 
 * @copyright (c) 2016, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    font-weight: 500;
    text-shadow: 1px 1px 2px $grey4;
    text-transform: uppercase;
}
h1 {
    margin-top: 0;
    
/*    + div > h2 {
        margin-top: 0;
    }
    + div + div > h2 {
        margin-top: 0;
    }
    + div + div + div > h2 {
        margin-top: 0;
    }*/
}
h3 {
    margin-bottom: 10px;
}
h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: italic;
}
h5 {
    font-size: 0.9em;
    font-style: italic;
}
h6 {
    font-size: 0.82em;
    font-style: italic;
}