/**
 * Style des vins
 * 
 * @copyright (c) 2016, Maison F et J Galloni SA
 * @author Joëlle Galloni
 */
@import "resources/sass/variables";

/* Aperçu d'un vin */
.wine-overview {
    text-align: center;
    cursor: pointer;
    position: relative;
    background: white;
    box-shadow: 0 10px 25px -10px $grey4;
    min-width: 230px;
    max-width: 400px;
    
    /* Désignation */
    .title {
        color: white;
        display: table-cell;
        font-weight: 300;
        font-size: 1.2em;
        padding: 10px 35px 5px 35px;
        width: 100vw;
        height: 93px;
        line-height: 1.2;
        vertical-align: middle;
        border-bottom: 3px solid $colour;
        text-shadow: 1px 1px 2px $grey12;
        
        /* Pattern d'arrière-plan */
        @include background-pattern($grey10, $grey11);
        
        div {
            display: inline-block;
            overflow: hidden;
            max-height: 72px;
        }
    }
    
    /* Photo */
    .picture-container {
        height: 250px;
        margin: 20px 10px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        
        img {
            transition-duration: 0.2s;
            cursor: pointer;
            max-height: 100%;  
            max-width: 100%; 
            position: absolute;  
            top: 0;  
            bottom: 0;  
            left: 0;  
            right: 0;  
            margin: auto;
        }
    }
    
    /* Prix */
    .price {
        font-weight: 500;
        padding: 0 10px 35px 10px;
        text-align: center;
        font-size: 1.2em;
    }
    /* Chariot */
    .cart {
        position: absolute;
        bottom: 13px;
        right: 15px;
        transition: 0.2s;
        
        &:hover {
            transition: 0.2s;
            color: $darkcolour;
            font-size: 1.2em;
        }
    }
    /* Indisponible */
    .unavailable {
        position: absolute;
        bottom: 8px;
        right: 15px;
        font-size: 0.8em;
        color: $orange;
        font-style: italic;
    }

    /* Vins spéciaux (primé, coup de coeur, rareté) */
    .special {
        position: absolute;
        bottom: 8px;
        left: 15px;
        color: $lightcolour;
    }

    /* Vins en promotion */
    .sale {
        color: $colour;
        position: absolute;
        top: 110px;
        right: 15px;
        font-size: 3.5em;
        padding: 10px;
        border-radius: 50%;
        background: white;
        
        &:after {
            content: "\F295";
            position: absolute;
            color: white;
            left: 0;
            right: 0;
            top: 23px;
            font-size: 0.55em;
        }
    }
    
    /* Vin favori */
    .favourite {
        .fa-bookmark {
            position: absolute;
            top: -3px;
            right: 7px;
            font-size: 1.8em;
        }
        .fa-star {
            right: 11px;
            top: 3px;
            font-size: 0.7em;
        }
    }
    
    /* Hover de l'aperçu d'un vin */
    &:hover {
        transition-duration: 0.5s;
        box-shadow: 0 10px 25px -10px $grey12;
        
        .title {
            /* Pattern d'arrière-plan */
            @include background-pattern($grey11, $grey12);
            
            border-bottom-color: $darkcolour;
        }
        
        .picture-container img {
            transform: scale(1.5);
            transition-duration: 0.5s;
        }
        
        .sale,
        .special {
            color: $verydarkcolour;
            transition-duration: 0.2s;
        }
        .price {
            color: $darkcolour;
        }
    }
}

/* Vin favori */
.favourite {
    cursor: pointer;
    
    .fa-bookmark {
        color: $grey2;
    }
    .fa-star {
        position: absolute;
        color: white;
    }

    &.yes {
        .fa-bookmark {
            color: $yellow;
        }
    }
}


/**
 * Détail d'un vin
 */
h1 {
    .favourite {
        display: inline-block;
        position: relative;
        
        .fa-bookmark {
            font-size: 1.2em;
        }
        .fa-star {
            left: 6px;
            top: 10px;
            font-size: 0.5em;
        }
    }
}

.list-detail {
    h3 {
        margin-bottom: 0;
    }
    
    .detail {
        padding-left: 30px;
        position: relative;
        margin-bottom: 5px;
        
        .icon {
            color: $colour;
            font-size: 1.2em;
            width: 20px;
            text-align: center;
            position: absolute;
            left: 0;
            top: 2px;
        }
        
        h3 + .icon {
            top: 5px;
            
            + ul {
                padding-left: 20px;
                list-style: circle;
            }
        }
    }
    
    ul {
        padding-left: 0;
        list-style: none;
        margin: 0;
    }
}


/* Prix */
#price-container {
    text-align: center;
    margin-bottom: 20px;
    
    .price {
        font-size: 2em;
        color: $colour;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

/* Photo */
.wine-detail {
    .wine-picture-container {
        background: white;
        padding: 10px;
        box-shadow: 0 10px 25px -10px $grey4;
        cursor: zoom-in;
        overflow: hidden;
        position: relative;
        
        img {
            max-height: 600px;
            max-width: 100%;
            display: block;
            margin: 0 auto;
            transition-duration: 0.5s;
        }
        
        &:hover {
            transition-duration: 0.5s;
            box-shadow: 0 10px 25px -10px $grey12;
            
            img {
                transform: scale(1.2);
                transition-duration: 0.5s;
            }
        }
        
        /* Coup de coeur */
        .heart {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10;

            &:before {
                content: "\f004";
                font-family: "Font Awesome 5 Free";
                font-weight: 400;
                font-size: 2em;
                color: $colour;
            }
        }
    }
    
    /* Producteur */
    .producer-detail {
        background: $grey1;
        padding: 25px;
        border: 1px solid $grey2;
        box-shadow: 0 0 0 5px $grey0 inset;
        margin-top: 30px;
        
        h2 {
            margin-top: 0;
        }
        
        p {
            font-style: italic;
        }
    }
}